.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 14px;
  gap: 2px;
  &__item {
    flex-basis: 100%;
    text-align: center;
    background-color: $color-five;
    padding: 2px;
    color: $color-white;
    border-radius: 4px;
  }
}
.first {
  margin-left: 40px;
  background-color: red;
}

// @media all and (min-width: 1000px) {
//   .nav {
//     margin-top: 22px;
//     // height: 48px;
//     justify-content: center;
//     align-items: stretch;
//     &__item {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//     }
//   }
// }
